<div class="container">

    <div class="row">
        <div class="col-lg-8">
            <div class="login">
                <h1>Login</h1>
                <form #login="ngForm">
                    <div class="form-group">
                        <label>UserName</label>
                        <input type="text" #name="ngModel" class="form-control" name="email" ngModel required minlength="5">
                        <div *ngIf="name.errors && (name.touched || name.dirty) " class="alert alert-danger">
                            <div [hidden]="!name.errors.required">
                                please enter UserName
                            </div>
                            <div [hidden]="!name.errors.minlength">
                                please enter atleast 5 characters
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" #password="ngModel" class="form-control" name="password" ngModel required>
                        <div *ngIf="password.errors && (password.touched || password.dirty) " class="alert alert-danger">
                            <div [hidden]="!password.errors.required">
                                please enter Password
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-success" [disabled]="login.form.invalid" (click)="fun()">Login</button>

                </form>
                <div class="row">
                    <div class="col-lg-9 forgot">
                        <p (click)="forgot()"> forgot password</p>
                    </div>


                    <div class="col-lg-3 signup">
                        <p (click)="signup()">SignUp</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>