<div class="about">
    <p>IT TRAINING provides training Android, ASP.NET, MVC, PHP, PHOTOSHOP and Digital Marketing technologies. KRISHNA IT TRAINING
        gives you a platform where you can build your career. Being a web development company we provide you the company
        experienced trainers. Our syllabus is the best match of any company process. We provide you the company environment
        rather than Institute environment.
    </p>
    <p>Our objective is to build each student who will be technically strong and able to get job. Krishna welcomes only those
        students who are hard working and wants to become technically strong.</p>
    <p>IT TRAINING provides training Android, ASP.NET, MVC, PHP, PHOTOSHOP and Digital Marketing technologies. KRISHNA IT TRAINING
        gives you a platform where you can build your career. Being a web development company we provide you the company
        experienced trainers. Our syllabus is the best match of any company process. We provide you the company environment
        rather than Institute environment.
    </p>
    <p>Our objective is to build each student who will be technically strong and able to get job. Krishna welcomes only those
        students who are hard working and wants to become technically strong.</p>

</div>