.title{
    color:white;
    text-align:center;
    padding:10px;
    padding-left:190px;
}
.header{
    height:75px;
    background-color:green;
    position:fixed;
    top:0px;
    right:0px;
    
  
    z-index:10;
}
.logout{
    color:white;
    margin-top:30px;
    margin-right:0px;
    cursor:pointer;
}