.container-fluid{
    height:50px;
    background-color:green;
    position:fixed;
    bottom:0px;
    right:0px;
}
h4{
    padding:10px;
    color:white;
    text-align:center;
    padding-left:100px;
}