<div class="container">
  <div class="row">
    <div class="col-lg-5 forgot">
     <h3> Reset Your Password  </h3>
     
      <form [formGroup]="form">
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" #email formControlName="email">
        <div *ngIf="form.controls['email'].hasError('required') && (form.controls['email'].touched || form.controls['email'].dirty)" class="alert alert-danger">
            Please Enter Email
          </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" #password formControlName="password">
        <div *ngIf="form.controls['password'].hasError('required') && (form.controls['password'].touched || form.controls['password'].dirty)" class="alert alert-danger">
            Please Enter Password
          </div>
          <div *ngIf="form.controls['password'].hasError('maxlength') && (form.controls['password'].touched || form.controls['password'].dirty)" class="alert alert-danger">
              password must be less than 10 characters
            </div>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="text" class="form-control" #cpassword formControlName="cpassword">
        <div *ngIf="form.controls['cpassword'].hasError('required') && (form.controls['cpassword'].touched || form.controls['cpassword'].dirty)" class="alert alert-danger">
            Please Re-enter Password
          </div>
      </div>
      <button [disabled]="form.invalid" class="btn btn-success">Reset</button>
    </form>
    <div class="col-lg-7 back">
     <p (click)="back()"> Back To Login</p>
    </div>
  </div>
</div>
</div>