.forgot{
    border:10px solid green;
    padding:25px;
    margin-left:300px;
    margin-top:50px;
}
input{
    border:none;
    border-bottom:1px solid green;
    border-radius:0px;
    
}
input:focus{
    box-shadow: none;  
}
button{
    width:100%
}
h3{
    text-align:center;
    color:green;
    padding-bottom:25px;
}
.back{
    margin-left:250px;
    margin-top:15px;
}