input{
    border:none;
    border-bottom:1px solid green;
    box-shadow: none;
    border-radius: 0;
}
input:focus{
    box-shadow: none;  
}
.login{
margin-left:300px;
margin-top:100px;
    border:10px solid green;
    border-radius:4px;
 border-width:2s0px;
   padding:15px; 
   padding-bottom:25px;
   
}

h1{
    text-align:center;
    color:green;

}
button{ 
    width:100%
}