table,th,td{
    border:1px solid black;
border-collapse:collapse;
padding:20px;
}
table{
    width:70%
}
.custom{
text-align:center;
}
th{
    color:green;
    font-size:25px;
    text-align: center;
}
td{
    font-size:22px;
}
.title{
    color:red;
}
table{
    margin-left:250px;
    margin-top:100px;
    border:10px solid green;
    margin-bottom:100px;
   
}
.header,.footer{
    color:white;
    background-color:green;
    height:75px;
    text-align:center;
    padding:10px;
}
.titler{
    text-align:center;
    padding:10px;
    padding-left:300px;  
}
.logout{
    color:white;
    padding:25px;
    padding-left:100px;
}
.footer h5{
    padding:5px;

}
 .footer{
    position:fixed;
    bottom:0px;
    height:50px;
}
 .header{
    position:fixed;
    top:0px;
    right:0px;
    left:0px;
}
.list-group{
    position:fixed;
    top:75px;
    left:0px;
    
    border-color:green;
   
}
.list-group a{
    padding:25px;
    color:white;
    font-weight:bold;
    background-color:green;
    
    
}
.sss{
    background-color:green;
    height:700px;
}
   
