<div class="container-fluid">
  <div class="row header">
    <div class="col-lg-10 titler">
   <h1> TITLES</h1>
  </div>
   <div class="col-lg-2 logout">
       <h6 (click)="logout()">LOGOUT</h6>
     </div>
   </div>
  </div>


  <div class="container">
    <table>
      <tr>
        <th>USERID</th>
        <th>ID</th>
        <th>TITLE</th>
        </tr>
        <tr *ngFor="let lst of data" class="custom">
          <td>{{lst.userId}}</td>
        <td >{{lst.id}}</td>
        <td class="title">{{lst.title}}</td>
      </tr>
    </table>
  </div>
  <div class="container-fluid footer">
   <h5> Footer </h5>
  </div>