<div class="container-fluid">

  <ul class="nav flex-column side-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="home">
        <span class="glyphicons glyphicons-home"></span>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="signin">Sign In </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contact">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="about">About Us</a>
    </li>

  </ul>
</div>